@font-face {
  font-family: FolhaGrafico;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src: url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Regular.woff2)
      format("woff2"),
    url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Regular.woff)
      format("woff"),
    url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Regular.ttf)
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: FolhaGrafico;
  font-stretch: normal;
  font-style: italic;
  font-weight: 400;
  src: url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Regular_Italic.woff2)
      format("woff2"),
    url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Regular_Italic.woff)
      format("woff"),
    url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Regular_Italic.ttf)
      format("truetype");
  font-display: swap;
}
/* @font-face {
	font-family: FolhaGrafico;
	font-stretch: normal;
	font-style: normal;
	font-weight: 500;
	src: url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Medium.woff2)
			format('woff2'),
		url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Medium.woff)
			format('woff'),
		url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Medium.ttf)
			format('truetype');
} */
/* @font-face {
	font-family: FolhaGrafico;
	font-stretch: normal;
	font-style: italic;
    font-display: swap;
	font-weight: 500;
	src: url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Medium_Italic.woff2)
			format('woff2'),
		url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Medium_Italic.woff)
			format('woff'),
		url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Medium_Italic.ttf)
			format('truetype');
} */
@font-face {
  font-family: FolhaGrafico;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  src: url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Bold.woff2)
      format("woff2"),
    url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Bold.woff)
      format("woff"),
    url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Bold.ttf)
      format("truetype");
  font-display: swap;
}
/* @font-face {
	font-family: FolhaGrafico;
	font-stretch: normal;
	font-style: italic;
	font-weight: 700;
    font-display: swap;
	src: url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Bold_Italic.woff2)
			format('woff2'),
		url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Bold_Italic.woff)
			format('woff'),
		url(https://static.folha.uol.com.br/fonts/hunting/folha-grafico/Folha_Grafico-Bold_Italic.ttf)
			format('truetype');
} */
@font-face {
  font-family: FolhaTexto;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  src: url(https://static.folha.uol.com.br/fonts/hunting/folha-texto/Folha_Texto-Light.woff2)
      format("woff2"),
    url(https://static.folha.uol.com.br/fonts/hunting/folha-texto/Folha_Texto-Light.woff)
      format("woff"),
    url(https://static.folha.uol.com.br/fonts/hunting/folha-texto/Folha_Texto-Light.ttf)
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: FolhaTexto;
  font-stretch: normal;
  font-style: italic;
  font-weight: 300;
  src: url(https://static.folha.uol.com.br/fonts/hunting/folha-texto/Folha_Texto-Light_Italic.woff2)
      format("woff2"),
    url(https://static.folha.uol.com.br/fonts/hunting/folha-texto/Folha_Texto-Light_Italic.woff)
      format("woff"),
    url(https://static.folha.uol.com.br/fonts/hunting/folha-texto/Folha_Texto-Light_Italic.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: FolhaTexto;
  font-stretch: normal;
  font-weight: 400;
  src: url(https://static.folha.uol.com.br/fonts/hunting/folha-texto/Folha_Texto-Regular.woff2)
    format("woff2");
}
@font-face {
  font-family: FolhaTexto;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  src: url(https://static.folha.uol.com.br/fonts/hunting/folha-texto/Folha_Texto-Bold.woff2)
      format("woff2"),
    url(https://static.folha.uol.com.br/fonts/hunting/folha-texto/Folha_Texto-Bold.woff)
      format("woff"),
    url(https://static.folha.uol.com.br/fonts/hunting/folha-texto/Folha_Texto-Bold.ttf)
      format("truetype");
  font-display: swap;
}
/* @font-face {
	font-family: FolhaTexto;
	font-stretch: normal;
	font-style: italic;
	font-weight: 700;
	src: url(https://static.folha.uol.com.br/fonts/hunting/folha-texto/Folha_Texto-Bold_Italic.woff2)
			format('woff2'),
		url(https://static.folha.uol.com.br/fonts/hunting/folha-texto/Folha_Texto-Bold_Italic.woff)
			format('woff'),
		url(https://static.folha.uol.com.br/fonts/hunting/folha-texto/Folha_Texto-Bold_Italic.ttf)
			format('truetype');
} */
