@forward './variables.scss';
@forward './utils.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;

	list-style: none;
	text-decoration: none;
	box-sizing: border-box;

	font-weight: 400;
	font-family: 'Inter', sans-serif;
}

body,
html {
	color: $onBackgroundColor;
	font-size: $baseFontSize;
}

input::placeholder,
select::placeholder {
	color: $mutedColor;
	font-size: $inputFontSize;
}

// --------------------------
// RESETS
// --------------------------

a {
	color: currentColor;
	text-decoration: none;
}

button {
	background-color: transparent;
}

button:not([disabled]) {
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: not-allowed;
}

button,
input {
	background-color: transparent;
}

// --------------------------
// FOCUS
// --------------------------

*:focus-within {
	outline-color: $defaultFocus;
	outline-width: 1px;
}
